---
import one from "/public/images/phdc-high-level-architecture.jpg";
// import phdc from "prima-persona\public\images\phdc-high-level-architecture.jpg";

import { Image } from "@astrojs/image/components";
---

<main role="main" class="w-full lg:col-span-3">
  <section>
    <div class="p-8 lg:py-12 lg:px-10">
      <div
        class="text-base dark:text-zinc-500 text-zinc-500 lg:col-span-3 space-y-12"
      >
        <article class="md:grid md:grid-cols-4">
          <div class="md:col-span-3">
            <header class="flex flex-col">
              <h1
                class="mt-6 text-4xl font-bold tracking-tight text-black dark:text-white sm:text-5xl"
              >
                What does a PHDC DevOps Engineer do?: My idea of what the role entails
              </h1>
              <time
                datetime="2022-09-05"
                class="order-first flex items-center text-base text-zinc-500 dark:text-zinc-400"
              >
                <span>April 06, 2023</span>
              </time>
            </header>
            <div class="mt-8 prose dark:prose-invert prose-zinc">
              <p>
                The role entails having the desire to see projects from 
                inception right up to their delivery to the user. This requires 
                the willingness to look at the bigger picture. The software 
                development cycle is broad, and this particular role requires 
                the ability to think in big-picture terms. Being able to take 
                a project from pseudo-code, prototyping, development, testing 
                and deployment is at the centre of the role. How this can be 
                accomplished is through continous experimental learning and practice.
              </p>
              <div class="grid grid-cols-1 md:grid-cols-1 gap-4">
                <div
                  class="aspect-[280/200] bg-zinc-100 rounded-xl overflow-hidden"
                >
                  <Image class="object-fill h-full" src={one} alt="#" />
                </div>
                
              </div>
              <p>
                The image above was sourced from https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7482518/
                Accessed: 06-04-2023s.
              </p>
              <blockquote>
                “Value innovation is the cornerstone of blue ocean strategy. 
                We call it value innovation because instead of focusing on 
                beating the competition, you focus on making the competition 
                irrelevant by creating a leap in value for buyers and your company, 
                thereby opening up new and uncontested market space. Value innovation 
                places equal emphasis on value.” — W. Chan Kim and Renee Mauborgne, 
                an excerpt from the Shortform summary of "Blue Ocean Strategy"
              </blockquote>
              <h2>Why value innovation is so important</h2>
              <p>
                And exactly, how does the image above tie into actually
                tie into all this? 

                I believe that building systems with the client
                in mind helps. It's not so much about who's done it,
                but more about who's done it best. This is how PHDC's
                approach to managing customer data comes in. With 
                a clear vision, PHDC can set itself apart from 
                all competitors; by employing cutting edge
                technologies. The whole aim of DevOps is to
                build systems and software such that it becomes
                easy to adjust sails in the windy ocean that is
                the tech industry.
              </p>
              
            </div>
          </div>
        </article>



        <article class="md:grid md:grid-cols-4">
          <div class="md:col-span-3">
            <header class="flex flex-col">
              <h1
                class="mt-6 text-4xl font-bold tracking-tight text-black dark:text-white sm:text-5xl"
              >
                What will your day-to-day be as a DevOps Engineer?
              </h1>
              <time
                datetime="2022-09-05"
                class="order-first flex items-center text-base text-zinc-500 dark:text-zinc-400"
              >
                <span>April 06, 2023</span>
              </time>
            </header>
            <div class="mt-8 prose dark:prose-invert prose-zinc">
              <p>
                As a junior devops engineer, I am expected to be abreast 
                with industry best practices that concern the delivery 
                of the product. A certain level of comfortability in 
                working with the terminal and Linux distros is required, 
                as this is the reality of the technologies that power 
                up cloud computing. My role is harmonizing each stage 
                of the DevOps process and ensuring a smooth CI/CD routine.
              </p>
              
            </div>
          </div>
        </article>



        <article class="md:grid md:grid-cols-4">
          <div class="md:col-span-3">
            <header class="flex flex-col">
              <h1
                class="mt-6 text-4xl font-bold tracking-tight text-black dark:text-white sm:text-5xl"
              >
                What you believe you have communicated about your expectations.
              </h1>
              <time
                datetime="2022-09-05"
                class="order-first flex items-center text-base text-zinc-500 dark:text-zinc-400"
              >
                <span>April 06, 2023</span>
              </time>
            </header>
            <div class="mt-8 prose dark:prose-invert prose-zinc">
              <p>
                Spending time in the backend using different languages 
                has best prepared me for this opportunity. 
                Having learned Java and understanding data structures, 
                algorithms and OOP, I believe my skills translate to what 
                the role requires. Writing Python everyday for the past three 
                years has made me realize what I think I enjoy more to do 
                with Python -- i.e. machine learning. I believe that given 
                this pattern of learning, I can build the foundations for 
                igniting new possibilities in the organization which would 
                allow it to eliminate competition in its sector.
              </p>
              
            </div>
          </div>
        </article>
      </div>
    </div>
  </section>
</main>
