<main role="main" class="w-full lg:col-span-3">
  <section>
    <div class="p-8 lg:py-12 lg:px-10">
      <div>
        <h1
          class="text-black dark:text-white text-2xl md:text-4xl xl:text-8xl font-bold tracking-tighter"
        >
        Gratitude: Postmodern Zulu life in the 2080s
        
          <span class="lg:block">(a short story manuscript by Njabulo Phiri)</span>
        </h1>
      </div>
      <div
        class="mt-8 lg:mt-24 text-base dark:text-zinc-500 text-zinc-500 lg:col-span-3 space-y-12"
      >
        <article class="md:grid md:grid-cols-4">
          <div class="md:col-span-3">
            <div class="text-sm text-zinc-600 dark:text-zinc-500 space-y-6">
              <p>
               
                It was a rather tranquil morning when the young boy awoke to find that he hadn‟t
                „locked up‟ his cattle. Upon lifting the eyelid of his left eye, after a deep sigh beneath the
                beautifully decorated African-print sheets, the object that caught the young boy‟s attention
                was a shiny traditional bass guitar which had been safely placed to the left corner of the room
                in which the boy slept. The boy then set – on his wrist watch – for the cattle to graze for a
                period of twenty minutes while he looked for the remote-like device that he usually uses for
                locking up his cattle.
                For a shepherd in the fall of the twenty-first century, technological devices came in
                handy in completing the „laborious‟ (as his ancestors thought) duty of looking after livestock.
                Although the boy was alive and well, a dream he‟d dreamt before seemed to have come back
                in his sleep the previous night. And so, as he was preparing for his day in the „fields‟ – where
                he usually takes his cattle to graze – he was bothered by what meaning and relevance the
                dream had. Twenty minutes elapsed, and the boy‟s cattle were back in the „virtual‟ kraal; and
                the boy was free from carrying out his daily duty of being a shepherd to his virtual cattle. In
                2080, many young boys herded virtual cattle and Lwazi was no exception, for his generation
                was raised to acknowledge their African roots. Lwazi – the Zulu name for „knowledge‟ – was
                born to African parents, and Lwazi remembers little from the stories his father used to tell
                him, particularly the story of how his father emigrated to what used to be Washington, DC
                (United States); from what was formerly known as South Africa.
                At this time in history, the „sovereign‟ country as was known pre-2060, had been
                eroded by the sweeping waves of change which characterized the early years of the decade
                during which Lwazi was born. The last years of the 2060s were indeed a time of great
                change. Seeing that time was not on his side, Lwazi took a shower and went to the kitchen for
                some breakfast. Eating strictly organically grown foods, the young boy prepared a smoothie
                for himself whilst finishing off last night‟s avocado. At exactly 11:11 a.m. Lwazi was then
                seated in the lounge where he usually sits for his daily classes. Education in the early 2080s
                had taken on a totally new approach. Lwazi was among a large number of kids that went to a
                virtual school, within the comfort of their own home. “Umm… Today I‟m focusing on…”,
                ponders Lwazi, as he stretches his arm to reach for his tablet. Accidentally selecting
                Metaphysics as the subject he wants to learn for the day, he notices as he scrolls down that
                most of the content is about human interaction with “other worlds” or as many put it, other
                dimensions. “That‟s it”, says Lwazi, as he seems to have had a light-bulb moment that all of a
                sudden just lit up his face. Young Lwazi had just remembered that he had some questions that
                were bothering him earlier, as he was trying to understand the dream he had. Landing upon
                the work of Rudolf Steiner, young Lwazi is immediately taken by the material that he has
                found. He thereafter spends weeks reading some of the classic books on spirituality and
                metaphysics. On his way home from the other side of what used to be NYC, Lwazi noticed
                something strange with his leap-pod (i.e. a device used for transport, which takes the
                passenger from their initial point and jumps over with them to their point of destination).
                He noticed that one morning, that he had risked his life travelling on a leap-pod that
                barely had energy. He remembers that he had planned to charge his leap-pod, but ended up in
                bed before he could do so. “But, how was it possible to travel on this amount of battery
                power?”, the boy thought to himself. “It doesn‟t make sense”, uttered the boy, sounding
                confused. He thinks of all ways this occurrence was likely to be possible, unaware that he
                was getting lost in his audible soliloquies. He passes out and gets lost in the land of dreams.
                Upon waking up the next morning, he is drawn by a beeping sound from his phone. “Oh,
                snap!”, cries Lwazi, as he remembers that he needs to purchase a new solar light coupon.
                SLCs were quite the thing, as they had become the only way to have access to natural
                sunlight. Lwazi has now gone days without his favorite activity – listening to music. Music
                devices such as traditional Hi-Fis and DVDs had long become obsolete. The young pal kept
                all his father‟s music collection, however. “So, how did he play the music?”, you might ask.
                Well, the Compact Disc and USB had become a thing of the past, as they lay in different
                cultural museums of the world, gathering dust. Even if Lwazi was feeling sentimental to an
                extent and wanted to play his music off a CD, he couldn‟t because no device could read the
                files in these archaic file storage mediums.
                Although Lwazi could have travelled in his leap-pod, he preferred walking, as this
                reminds him of all the random walks he and his father usually take. Being a Wednesday,
                Lwazi felt he had to go to the shops to get a few things done. “May I have SLCs for 0.0001
                Bitcoin please?”, asked Lwazi. “Sure, how‟re you paying?”, replied the shop assistant.
                “Uhmm.. I‟ll just pay with my FinPrint, thank you.” “Ahh.. Thought as much! Alright, there
                you go. Your SLCs expire in the next 60 days”, says the shop assistant, as he sends Lwazi his
                e-slip to his FinPrint account. “Thank you”, replies Lwazi, as he checks that he‟s safely
                logged out of his FinPrint account. “My pleasure, young man. Ugh, the City‟s Solar Light
                systems are scheduled for an update. So you might wanna use your SLCs after two days”, the
                shop assistant notifies Lwazi. “Ahh, thank you for letting me know. Have a great day, Sir”,
                replies Lwazi as he makes his way out of the store.
                Two days passed, and the boy spent most of it playing video games.
                Joyfully making his way to the Solar Light Park closest to his house, the boy couldn‟t
                wait to access the vast contents which had been stored in his DNA. At the top of his list,
                music is what Lwazi specifically wanted to access for the day. In the 2080s, DNA digital file
                storage was the method of choice. The Sun played a crucial role at decoding and retrieving
                such files. As a result, a synthetic source of light was created. So, people had to pay for
                sunlight, as it was the only natural unlocker of files embedded in human DNA. The synthetic
                source of light served the powers that be, as they knew that the Sun was capable of making
                certain information available to the general public, and that is all the information about the
                people‟s heritage.
                Upon arriving at the Solar Light Park, Lwazi produced his SLC at the automated park
                administrator stationed at the Park‟s gate. Automated Park Administrators were robots
                created for the purpose of keeping track of who had visited the SLPs. A green light flashed on
                the monitor of the APA, accompanied by the message: “Solar Light Coupon valid! Proceed
                into Park.” It was a Friday afternoon at about 16h10. As soon as the boy stepped into the
                sunlight, the music catalogue stored in his DNA materialized. He then put on his Smartglass
                shades which, together with the Smartglove, allowed for the boy to interact with all the
                content. Smartglass rendered the interface right in his eyes, while Smartglove aided him in
                scrolling through thousands and thousands of archaic files.
                All the music of his father immediately materialized on Lwazi‟s system. Along with
                music, the boy also took note of all the books, movies, and podcasts from ancient South
                Africa (and the world) that popped up on his Smartglasses. At this point in his life, Lwazi
                didn‟t have much other than school and music. He felt drawn to music from when he was
                young, and being exposed to the music that his father grew up listening to simply brought
                him to life.
                As he scrolls down the immense music library he‟s opened in a random folder, he
                notices a record. The cover art of the record had the Orlando Towers as a backdrop, against
                which was the face of the artist in monochrome. To the top-right of the cover art was the
                artist‟s name, and the album name was to the bottom-left of the cover. “Prokid – Heads and
                Tales”, Lwazi read out loud. He had stumbled upon one of the greatest works of Hip Hop to
                ever come out of ancient southern Africa. The album had been carefully archived by the
                boy‟s father, as it is one of the records that had a tremendous impact on him as a child. Upon
                pressing play, the boy was immediately immersed in this brilliant work of art. Moments such
                as these were very important to Lwazi, as tapping into one‟s DNA allowed for one‟s sense of
                identity to stay intact. Halfway through Heads and Tales, the boy is hit by a realization that
                this particular album was a sonic representation of the Township, the one place Lwazi‟s
                father would not miss any chance to talk about. In a sense, he was reliving all the pictures
                being painted by the artist. When the boy checked the time, it was now 17h27; time to head
                home. Before leaving, the boy scrolled through some archaic book reviews. It is here that he
                came across a review of Credo Mutwa‟s world-famous book – Indaba, My Children.
                Lwazi‟s heart jumped slightly up and down as he rapidly ran his eye through the
                review. In a sense, this was the sort of book Lwazi had been craving to lay his eyes on. It was
                a true classical piece of literature from 20th century southern Africa. The book was filled with
                all the mythology and cosmogony of the Bantu people, to which Lwazi is a descendant. This
                was an unbelievable moment for Lwazi, after years and years of probing into the question of
                whom he was here was something that would eventually play a pivotal role in answering
                some of the questions he had about his origins. Lwazi bookmarked all the content he had
                viewed for the day, and safely logged out of the system that retrieved all his DNA-stored
                files. The time was now 17h47, and Lwazi got up from the bench on which sat, making his
                way out of the Solar Light Park. On his way home, he couldn‟t help but grin like a Cheshire
                cat. His eyes gleamed of pure inspiration as he thought of what the prospects of selfrealization – through digging into his DNA – would bring.
                For Lwazi, not even money could buy the amount of joy and serenity he felt from that
                day onward. Housing in the 2080s had taken on a totally new form, as it was important for
                government to the issue of less and lesser land for people to build property. As a result,
                Lwazi was amongst hundreds of thousands of city dwellers residing in the Smart Home
                complexes that shot up all the way to the sky in altitude. Luckily for him, he lived on the 33rd
                floor. When Lwazi got to the foyer at the building in which he lived, he noticed that room 11
                on 33rd floor had a visitor. All the information about the activities of each room could be
                accessed on a digital notice board which logged information about a particular room, on
                request. The boy proceeded and got on an elevator.
                As per usual, Lwazi got into his apartment and the first thing was to get something to
                drink from the fridge, as he wanted to quickly check who his visitor was. He thought it was
                probably his friend Ndalo, with whom he would regularly have gaming sessions. Just when
                he closed the fridge, he heard footsteps coming from the lounge area. It certainly wasn‟t
                Ndalo. “I see you‟ve kept the place neat, my boy”, proclaimed Lwazi‟s father, proudly. “Old
                man! Hahaha, you came back! This is such a pleasant surprise.” They hugged and shook
                hands. “Always great to see you son”, said Lwazi‟s father as he gave him a pat on the
                shoulder. “Well, likewise dad! We sure have a lot of catching up to do. Quite a lot has
                happened since you left for the Governmental District (i.e. Washington, DC as it was
                formerly known).”
                Lwazi grabbed a second glass as his father went to the lounge area, and that night they
                would sit there for hours drinking freshly pressed orange juice, laughing and reminiscing on
                fond memories they‟ve since had. It was during these heartfelt conversations that Lwazi was
                reminded to share the story of the dream he had just the other day. Explaining each detail to
                his father, Lwazi noticed that his father smiled ceaselessly, the deep thoughts in which he
                found himself vividly written on his face. “Are you still with me, dad”, Lwazi asked. “Oh
                yes, son. Please carry on.” So Lwazi proceeded. “The one thing that I noticed about this
                dream was that it was now recurring, and in it, an old white-bearded man would always speak
                to me as if he knew me. Although I can‟t recall everything, I do remember the words this old
                man would almost never forget to say to me whenever he appeared: „You will be great‟.”
                Lwazi notices that the smile is still on his father‟s face, and so he asks, “Have I bored you
                with this story of mine dad”, to which his father replies “No, not at all son.” Lwazi goes on to
                mention how he made a great discovery today at the Solar Light Park. He tells his father how,
                just when he was about to leave, he stumbled upon what he thinks is literally gold. And here
                he was referring to Credo Mutwa‟s „Indaba, My Children‟.
                “Well son, I‟m glad you bring all that up. You see, at some point – just before your
                birth – we had to make a choice as a people of the world. It was either our heritage was stored
                digitally on our DNA, or it was lost forever. We chose the former. It‟s because we knew that
                times would come when younger generations would be curious to know about their history
                and origin. I‟m stoked to hear that you‟ve gone so far with investigating what‟s within your
                DNA, and I can assure you that Indaba, My Children will be very instrumental in shaping
                your perspective of who you are as a young Zulu man.” Lwazi sat staring at his father,
                listening attentively.
                “Also,” continued Lwazi‟s father, “the figure in your dreams is your grandfather; my father.”
                It is here that Lwazi started connecting all the dots, thereby coming to the realization that the
                old man in his dreams was indeed his grandfather.
              </p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </section>
</main>
